.node-header {
    background-color: rgb(27, 129, 62);
    width: auto;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;

    /*居中对其*/
    align-items: center;
    justify-content: center;

    /*内边距*/
    padding-left: 15%;
    padding-right: 15%;
}
.title {
    /*占据父容器内边距以外的所有空间*/
    width: auto;

    height: 100%;
    align-self: auto;
    justify-content: center;
    align-items: center;
}

.title-label {
    flex-grow: 0;
    height: 100%;
    width: auto;

    font-size: 40px;
    color: rgb(252, 250, 242);
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}
.node-middle {
    background-color: rgb(28, 28, 28);
    min-height: 100px;
    flex-grow: 1;
    flex-direction: row;
}

.node-sidebar {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
}

.graphCorePortContainer {
    flex-grow: 1;
}

.buttonContainer {
    height: 40px;
}

.button-addPort {
    background-color: rgb(55, 60, 56);
    height: 30px;
    margin-top: auto;
    margin-bottom: 5px;
}
